@import url('https://fonts.cdnfonts.com/css/pricisia');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #89A8B2;
  font-family: 'Pricisia', sans-serif;
                                                
}


.text {
  cursor: pointer;

}

.big-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #0A97B0;
  position: relative;
  animation: rotate 5s linear infinite;
}

.small-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: orbit 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes orbit {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}


.about  {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  margin-left: -770px;
  margin-top: -350px;
 z-index: -10;

}